<main class="container">
  <%= turbo_frame_tag "new_variable_investment" do %>

    <div class="header">
      <h3>Cadastrar Renda Variavel</h3>
    </div>

    <%= render "form", investment: @investment %>
  <% end %>
</main>
