<main class="container">

  <%= turbo_frame_tag "account_transaction_#{@transaction.id}" do %>

    <div class="lcars-subtitle">
      <h3><%= t('transactions.anticipate') %></h3>
    </div>

    <%= render "anticipate_form", transaction: @transaction %>

  <% end %>
</main>
