<main class="container">

  <%= turbo_frame_tag @transaction do %>

    <div class="lcars-subtitle">
      <h3><%= t('transactions.edit') %></h3>
    </div>

    <%= render "form", transaction: @transaction, categories: @categories %>

  <% end %>
</main>
