<main class="container">
  <%= turbo_frame_tag "new_transaction" do %>

    <div class="header">
      <h3>Cadastrar Transação</h3>
    </div>

    <%= render "form", transaction: @transaction %>
  <% end %>
</main>
