<div class="lcars-position-preview-item">
  <div class="lcars-card-field">
    <%= position.date %>
  </div>

  <div class="lcars-card-field">
    <%= position.amount %>
  </div>

  <div class="lcars-card-field">
    <%= position.shares %>
  </div>
</div>
