<main class="container">
  <%= turbo_frame_tag "new_position" do %>

    <div class="header">
      <h3>Cadastrar Posição</h3>
    </div>

    <%= render "form", position: @position %>
  <% end %>
</main>
