<main class="container">
  <%= turbo_frame_tag "new_position" do %>

    <div class="lcars-subtitle">
      <h3><%= t('investments.positions.new.create_position') %></h3>
    </div>

    <%= render "form", position: @position %>
  <% end %>
</main>
