<div class="lcars-summary-item">
  <div class="lcars-subtitle">
    <%= t('home.charts.expense_by_category') %>
  </div>

    <%= pie_chart expenses_by_category, precision: 8, discrete: false, legend: 'bottom' %>
</div>
