<div class="subtitle">
  <%= t('account.show.investments.title') %>
</div>

<%= render partial: 'investment_header' %>

<%= turbo_frame_tag "investments" do %>
    <%= render partial: 'investment', collection: investments %>
<% end %>
