<div class="summary-item">
  <div class="subtitle">
  <%= t('account.show.investments.investment_allocation') %>
  </div>

  <div class="chart">
    <%= pie_chart investment_allocation, precision: 8, discrete: false, legend: 'bottom' %>
  </div>
</div>
