<div class="lcars-summary-item">
  <p class="lcars-subtitle"><%= t('account.show.chart.past_month.title') %></p>
  <div class="lcars-chart">
    <%= line_chart [
          { name: t('account.show.chart.past_month.incomes'), data: semester_summary[:incomes] },
          { name: t('account.show.chart.past_month.expenses'), data: semester_summary[:expenses] },
          { name: t('account.show.chart.past_month.invested'), data: semester_summary[:invested] },
          { name: t('account.show.chart.past_month.balance'), data: semester_summary[:balance] }
          ], precision: 8, discrete: true, legend: 'bottom', width: "100%" %>
  </div>
</div>
