<main class="container">

  <%= turbo_frame_tag @account do %>

    <div class="header">
      <h3><%= t('account.index.edit') %></h3>
    </div>

    <%= render "form", account: @account %>

  <% end %>
</main>
