<main class="container">
  <%= turbo_frame_tag "new_account" do %>

    <div class="header">
      <h3><%= t('account.index.create_account') %></h3>
    </div>

    <%= render "form", account: @account %>
  <% end %>
</main>
