<main class="lcars-content">

    <div class="lcars-subtitle">
      <h3><%= t('payment.index.edit_payment')%></h3>
    </div>

  <%= turbo_frame_tag "financings_payment_#{@payment.id}" do %>
      <%= render "form", financing: @financing, payment: @payment %>
  <% end %>
</main>
