<main class="container">

    <div class="header">
      <h3><%= t('payment.index.create_payment')%></h3>
    </div>

  <%= turbo_frame_tag "new_financing_payment" do %>
    <%= render "form", financing: @financing, payment: @payment %>
  <% end %>
</main>
