<div class="transference-index-header transference-header-grid">
  <div class="list-header-item">
    <%= t('transferece.index.sender')  %>
  </div>

  <div class="list-header-item">
    <%= t('transferece.index.receiver') %>
  </div>

  <div class="list-header-item">
    <%= t('transferece.index.amount') %>
  </div>

  <div class="list-header-item">
    <%= t('transferece.index.date') %>
  </div>
</div>
