<div class="transference-index-header transference-header-grid">
  <div class="list-header-item">
    <%= t('transference.index.sender')  %>
  </div>

  <div class="list-header-item">
    <%= t('transference.index.receiver') %>
  </div>

  <div class="list-header-item">
    <%= t('transference.index.amount') %>
  </div>

  <div class="list-header-item">
    <%= t('transference.index.date') %>
  </div>
</div>
