<main class="container">
  <%= turbo_frame_tag "new_transference" do %>

    <div class="lcars-subtitle">
      <h3><%= t('transference.index.create_transference') %></h3>
    </div>

    <%= render "form", transference: @transference %>
  <% end %>
</main>
