<%= turbo_frame_tag financing do %>

<div class="financing">
  <%= link_to financing.name, financing_path(financing),
                data: { turbo_frame: "_top" }  %>
  <div class="financing__actions">
    <%= button_to "Remover",
                  financing_path(financing),
                  method: :delete,
                  class: "btn btn--light" %>
    <%= link_to "Alterar",
                edit_financing_path(financing),
                class: "btn btn--light" %>
  </div>
</div>
<% end %>
