<%= turbo_frame_tag "financing_header" do %>

<div class="investment">
  <div> Parcela</div>
  <div> Valor Pago</div>
  <div> Parcelas pagas</div>
  <div> Data de pagamento</div>
  <div> Juros</div>
  <div> Amortização</div>
  <div> Seguro</div>
  <div> Taxas</div>
  <div> Ajustes</div>
  <div> Correção Monetária</div>
  <div> </div>

</div>
<% end %>
