<div class="financing-index-header financing-index-header-grid">
  <div class="list-header-item"> <%= t('financing.show.payments_header.name') %></div>
  <div class="list-header-item"> <%= t('financing.show.payments_header.parcels') %></div>
  <div class="list-header-item"> <%= t('financing.show.payments_header.borrowed_amount') %></div>
  <div class="list-header-item"> <%= t('financing.show.payments_header.paid_parcels') %></div>
  <div></div>
</div>
