<div class="financing-index-header financing-index-header-grid">
  <div class="list-header-item"> <%= t('financing.index.name') %></div>
  <div class="list-header-item"> <%= t('financing.index.parcels') %></div>
  <div class="list-header-item"> <%= t('financing.index.borrowed_amount') %></div>
  <div class="list-header-item"> <%= t('financing.index.outstanding_parcels') %></div>
  <div></div>
</div>
