<main class="container">

  <%= turbo_frame_tag @financing do %>

    <div class="header">
      <h3><%= t('financing.index.edit_financing') %></h3>
    </div>

    <%= render "form", financing: @financing %>

  <% end %>
</main>
