<main class="container">
  <%= turbo_frame_tag "new_financing" do %>

    <div class="header">
      <h3>Novo Financiamento</h3>
    </div>

    <%= render "form", financing: @financing %>
  <% end %>
</main>
