<main class="container">
  <%= turbo_frame_tag "new_financing" do %>

    <div class="header">
      <h3><%= t('financing.index.create_financing') %></h3>
    </div>

    <%= render "form", financing: @financing %>
  <% end %>
</main>
