.header {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
  justify-content: space-between;
  align-items: flex-start;
  margin-top: var(--space-m);
  margin-bottom: var(--space-l);

  @include media(tabletAndUp) {
    margin-bottom: var(--space-xl);
  }
}

.dropdownContent {
  list-style: none;
  top: 5px;
  width: 100%;
}

.dropdownContent li {
  line-height: 20px;
}

.dropdownContent li:hover {
  background: #1d1f24;
}

.dropdownContent li a {
  display: block;
  padding: 5px;
  color: #fff;
  margin: 5px;
  text-decoration: none;
}

.dropdownBox {
  background-color: #ee6e73;
}
