<div class="summary-item">
  <div class="subtitle">
  <%= t('home.charts.expense_by_category') %>
  </div>

  <div class="chart">
    <%= pie_chart expense_by_category, precision: 8, discrete: false, legend: 'bottom' %>
  </div>
</div>
