<div class="lcars-content">
<div class="lcars-subtitle">
  <%= t('home.charts.expenses_by_group.title') %>
        <%= link_to t('buttons.expenses'),
       transactions_path,
      data: { turbo_frame: "_top" },
      class: "lcars-button lcars-button--secondary" %>
  </div>

  <div class="chart">
    <%= column_chart [{name: t('home.charts.expenses_by_group.expenses'), data: expenses_by_group},
    {name: t('home.charts.expenses_by_group.ideal'), data: ideal}],
     precision: 8, discrete: false, legend: 'bottom' %>
  </div>
</div>
