<div class="summary-item">
  <div class="subtitle">
  <%= t('home.charts.expenses_by_group.title') %>
  </div>

  <div class="chart">
    <%= column_chart [{name: t('home.charts.expenses_by_group.expenses'), data: expenses_by_group},
    {name: t('home.charts.expenses_by_group.ideal'), data: ideal}],
     precision: 8, discrete: false, legend: 'bottom' %>
  </div>
</div>
