<div class="summary-item">
  <div class="chart">
  <%= line_chart [
        { name: t('home.past_month_reports.charts.total_balance'), data: semester_summary[:summary][:total] },
        { name: t('home.past_month_reports.charts.total_savings'), data: semester_summary[:summary][:savings] },
        { name: t('home.past_month_reports.charts.total_invested'), data: semester_summary[:summary][:stocks] }
        ], precision: 8, discrete: false, legend: 'bottom' %>
  </div>

    <div class="chart">
  <%= line_chart [
        { name: t('home.past_month_reports.charts.incomes'), data: semester_summary[:details][:incomes] },
        { name: t('home.past_month_reports.charts.expenses'), data: semester_summary[:details][:expenses] },
        { name: t('home.past_month_reports.charts.invested'), data: semester_summary[:details][:invested] },
        { name: t('home.past_month_reports.charts.card_expenses'), data: semester_summary[:details][:card_expenses] }
        ], precision: 8, discrete: false, legend: 'bottom' %>
  </div>
</div>
