<main class="container">
  <%= turbo_frame_tag "new_dividend" do %>

    <div class="header">
      <h3><%= t('investments.dividends.index.create_dividend') %></h3>
    </div>

    <%= render "form", dividend: @dividend %>
  <% end %>
</main>
