<div class="summary-item">
  <div class="chart">
  <%= line_chart [
        { name: t('investments.investments.show.summary.negotiations.shares'), data: negotiations[:shares] },
        { name: t('investments.investments.show.summary.negotiations.amount'), data: negotiations[:amounts] }
        ], precision: 8, discrete: false, legend: 'bottom', spanGaps: true %>
  </div>
</div>
