<div class="summary-item">
  <p class="summary-subtitle"><%= t('.monthly_balance') %></p>
  <div class="chart">
  <%= line_chart [
        { name: t('.shares'), data: negotiations[:shares] },
                { name: t('.amount'), data: negotiations[:amounts] }
        ], precision: 8, discrete: false, legend: 'bottom', spanGaps: true %>
  </div>
</div>
