<div class="summary-item">
  <div class="chart">
  <%= line_chart [
        { name: t('investments.investments.show.summary.positions.shares'), data: positions[:shares] },
        { name: t('investments.investments.show.summary.positions.amount'), data: positions[:amounts] }
        ], precision: 8, discrete: false, legend: 'bottom', spanGaps: true %>
  </div>
</div>
