<%= turbo_frame_tag "position_#{position.id}" do %>
<div  class="list positions-header-grid">
  <div class="list-item">
    <%= position.date %>
  </div>

  <div class="list-item">
    <%= position.amount %>
  </div>

  <div class="list-item">
    <%= position.shares %>
  </div>
</div>
<% end %>
