<div class="item">
  <div class="subtitle">
    <%= t('.positions') %>
  </div>

</div>

<div class="investment">
  <div>
    Date
  </div>

  <div>
    Amount
  </div>

  <div>
    Shares
  </div>
</div>

  <%= turbo_frame_tag "positions" do %>
    <%= render partial: 'position', collection: investment.positions %>
  <% end %>
