<main class="container">
  <%= turbo_frame_tag "new_investment" do %>

    <div class="lcars-subtitle">
      <h3><%= t('investments.investments.index.create_investment') %></h3>
    </div>

    <%= render "form", investment: @investment %>
  <% end %>
</main>
