<main class="container">
    <div class="header">
      <h1><%= @investment.name %></h1>
    </div>
      <%= link_to 'Transações', investment_negotiations_path(investment_id: @investment.id), class: "btn btn--light" %>
</main>
