<%= turbo_frame_tag "interest_on_equity_#{interest_on_equity.id}" do %>

<div class="investment">
  <div>
    <%= interest_on_equity.date %>
  </div>


  <div>
    <%= interest_on_equity.amount %>
  </div>
</div>
<% end %>
