<div class="lcars-earning-preview-item">
  <div class="lcars-card-field">
    <%= earning.date %>
  </div>

  <div class="lcars-card-field">
    <%= earning.amount %>
  </div>

  <div class="lcars-card-field">
    <%= earning.shares %>
  </div>

  <div class="lcars-card-field">
    <%= earning.kind %>
  </div>
</div>
