<main class="container">

  <%= turbo_frame_tag @card do %>

    <div class="header">
      <h3><%= t('card.index.edit_card') %></h3>
    </div>

    <%= render "form", card: @card %>

  <% end %>
</main>
