<main class="container">
  <%= turbo_frame_tag "new_card" do %>

    <div class="header">
      <h3><%= t('card.index.create_card') %></h3>
    </div>

    <%= render "form", card: @card %>
  <% end %>
</main>
