.financing-index-header {
  display: grid;
  gap: var(--space-s);
  margin-bottom: var(--space-m);
  padding: var(--space-xs);

  @include media(tabletAndUp) {
    padding: var(--space-xs) var(--space-m);
  }
}

.financing-index-header-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.financing-payment-list-header {
  display: grid;
  margin-bottom: var(--space-m);
  padding: var(--space-xs);

  @include media(tabletAndUp) {
    padding: var(--space-xs) var(--space-m);
  }
}

.financing-payment-list-header-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
