.lcars-financing-actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  border-bottom: 0cap !important;
}

.lcars-payment_preview-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 2rem;
  background-color: #111;
  border: 2px solid #9932CC;
  border-radius: 20px;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .lcars-investment-item {
    grid-template-columns: 1fr;
  }

  .lcars-investment-actions {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .lcars-investment-header {
    display: none;
  }
}
