.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-s);
  font-weight: bolder;
  margin-bottom: var(--space-m);
  padding: var(--space-xs);

  @include media(tabletAndUp) {
    padding: var(--space-xs) var(--space-m);
  }

}
