<div class="lcars-negotiation_preview-item">
  <div class="lcars-card-field">
    <%= negotiation.date %>
  </div>

  <div class="lcars-card-field">
    <%= negotiation.amount %>
  </div>

  <div class="lcars-card-field">
    <%= negotiation.shares %>
  </div>

  <div class="lcars-card-field">
    <%= negotiation.formatted_kind %>
  </div>
</div>
