<main class="container">
  <%= turbo_frame_tag "new_negotiation" do %>

    <div class="lcars-subtitle">
      <h3><%= t('investments.negotiations.new.create_negotiation') %></h3>
    </div>

    <%= render "form", negotiation: @negotiation %>
  <% end %>
</main>
