<%= turbo_frame_tag category do %>
  <div class="lcars-category-item">
    <div class="lcars-category-field">
  <%= category.name %>
  </div>
  <div class="lcars-category-actions">
    <%= link_to t('buttons.edit'),
                edit_category_path(category),
                class: "lcars-button" %>
    <%= button_to t('buttons.delete'),
                  category_path(category),
                  method: :delete,
                  class: "lcars-button lcars-button--danger" %>
  </div>
</div>
<% end %>
