<main class="container">
  <%= turbo_frame_tag @category do %>

    <div class="header">
      <h3><%= t('category.index.edit_category')%></h3>
    </div>

    <%= render "form", category: @category %>

  <% end %>
</main>
