<main class="container">
  <%= turbo_frame_tag "new_category" do %>

    <div class="header">
      <h3><%= t('category.index.create_category')%></h3>
    </div>

    <%= render "form", category: @category %>
  <% end %>
</main>
